* {
    box-sizing:border-box;
}

textarea {
    resize: none;
  }

  #Contactform{
    background-image: linear-gradient(to top, #db611b 0%, #22130c 100%);
      width:100%;
      height:50em;
      padding-top:200px;

  }

  #submitMe{
      background-color:black;
      color:rgb(214, 203, 203);
      border-style:solid;
      border-color:rgb(110, 8, 8);
      padding:20px; 
      margin-left: 100px;
   

  }

  .announce{
    color:white;
    font-weight:800px;
    width:89px;
    display:inline-block;
    text-align:center;  
  }

  .inputType{
    border-style: solid;
    border-color:black;
    border-width: 2px;
  }

  