* {
    box-sizing:border-box;
}


.Table{
    margin:0 auto;
     max-width: 900px; 
    border-width:5px;
    height:20%;
    width:100%;
    margin:auto;
    border:3px solid orange;
    padding: 30px;
    background-image: linear-gradient(to top, #db611b 0%, #22130c 100%);
    text-align:left;
}

#fightHere{
    background-image: linear-gradient(to top, #db611b 0%, #22130c 100%);
      width:100%;
      height:50em;
}

