* {
    box-sizing:border-box;
}

h1{
    font-style:oblique;
    background-color:orange;
}

img{
   border-style:solid;
   border-color:orange;
   border-width:10px;
   padding:0 auto;
}

p{
    font-style:'Serif';
    font-weight: 200;
    font-style: oblique;
    color:black;
    border-style:solid;
    
}