* {
    box-sizing:border-box;
}

@media all and (min-width:480px){
    .Login{
        padding:60px 0;
    }


.Login form{
    margin:0 auto;
    max-width: 320px;
    border-width:5px;
   
}

}

#PwBox{
    height:20%;
    width:10%;
    margin:auto;
}

#PwText{
    text-align:center;
}

.LoginInput{
    width:100%;
}

#loginPage{
    background-image: linear-gradient(to top, #db611b 0%, #22130c 100%); 
}