*{
    box-sizing:border-box;
}

nav{
    display:flex;
    justify-content:space-around;
    align-items:center;
    min-height:10vh;
    background:rgb(218, 75, 10);

}

.nav-Links{
    width:40%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    list-style:none;

}

.contactMe{
    border-style:solid;
    border-color:rgb(185, 12, 12);
    background-color:black;
    color:white;
    padding:10px;
    
}