*{
    box-sizing:border-box;
}

nav{
    display:flex;
    justify-content:space-around;
    align-items:center;
    min-height:10vh;
    background-color:rgb(12, 9, 8);
    

}

.nav-Links{
    width:30%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    list-style:none;
    color:orange;

}

.contactMe{
    border-style:solid;
    border-color:rgb(185, 12, 12);
    background-color:black;
    color:white;
    padding:10px;
    
}

.Home{
    color:white;
    font-style: italic;
    font-weight: 500;
}
