* {
    box-sizing:border-box;
}


#quizPage{
    background-image: linear-gradient(to top, #db611b 0%, #22130c 100%);
      width:100%;
      height:55em;
}


#loginPage{
    width:100%;
    height:50em;
}

#fieldset{
    border-style:solid;
    border-color:black;

}

.formLabel{
    color:black;
    width:240px;
    display:inline-block;
    text-align:center;
    
}
#style{
     color:black;
     width:350px;
     display:inline-block; 
   
}

fieldset{
    width:20%;
    margin:auto;
    color:black;
    border-color:black;
}

.radio-button{
    margin-left:15px;
}

